@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  font-family: 'Inter', system-ui, sans-serif;
  --bg-color: #e5e7eb;        
  --card-color: #e6e6fa;      
  --accent-color: #4f46e5;
  --text-color: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
